/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #972eff, #cbdcfa);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #e50fc5; /* Change this to your desired color */
  padding: 10px;
  border-radius: 5px;
}

.nav-link {
  color: white; /* Link text color */
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #45a049; /* Hover background color */
}

button.nav-link {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button.nav-link:hover {
  background-color: #45a049; /* Same hover background color as links */
}

.slot-selected {
  background-color: #45a049;
}

.slot-deselected {
  background-color: #0091ff;
}

.primary-button {

}

.secondary-button {
  background-color: #cbdcfa;
  color: #333333;
}

.dialog-container {
  width: 50%;
}

dialog {
  width: inherit;
}

.dialog-button {
  margin: 8px;
}

.dialog-button-container {
  display: flex;
  justify-content: flex-end;
}
.app-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}





